.container {
  display: flex;
  align-items: center;
}

.pagination a {
  display: flex;
  color: black;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 1px;
  float: left;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s;
  font-family: 'Josefin Sans', sans-serif;
}

.pagination a.active {
  background-color: lightskyblue;
}

.pagination a:hover:not(.active) {
  background-color: lightgrey;
}